@{ string DataTableColumns =
                "{ \"data\": \"id\",\"searchable\": false,\"bSortable\": true,\"bVisible\": false}," +
                    "{ \"data\": \"name\"}," +
                        "{ \"data\": \"num\"}," +
                        "{ \"data\": \"dob\"}," +
                        "{ \"data\": \"state\"}," +
                    "{ \"data\": \"city\"}," +
                        "{ \"data\": \"zipCode\"}," +
                    "{ \"data\": \"address\"}";

                ViewBag.DataTableActionColumn = "7";
                DataTableColumns += ",{ \"data\": \"id\",\"searchable\": false,\"bSortable\": false}";
                ViewBag.DataTableColumns = DataTableColumns; }
@section InLineScriptSection{
    @await Html.PartialAsync("JsScript")
}
<div class="col-md-12 mb-4">
    <div class="card text-left">
        <div class="dataTablePageHeader card-header"></div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="display table table-striped table-hover table-bordered datatable" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Number</th>
                            <th>DOB</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Zip</th>
                            <th>Address</th>
                            @if (ViewBag.DataTableActionColumn != null)
                            {
                                <th data-priority="2">Actions</th>
                            }
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>